@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

:root {
    background-color: #F2EC94;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 62.5%;
    font-family: 'Lato', sans-serif;
}

.header {
    color: white;
    background-color: #295FA6;
    font-size: 35px;
    height: 5rem;
    left: 0;
    padding: 1rem;
    position: fixed;
    text-align: center;
    top: 0;
    width: 100%;
}

.main {
    justify-content: center;
    text-align: center;
    padding: 12%;
}

#text {
    color: #295FA6;
    font-size: 20px;
    padding-bottom: 25px;
    font-weight: 900;
}

#word {
    padding-bottom: 30px;
    font-size: 35px;
}

#definition {
    font-size: medium;
    color: rgb(78, 78, 78);
    font-weight: bolder;
    padding-bottom: 30px;
}

#btn {
    border: 0;
    width: 150px;
    height: 28px;
    font-size: 16px;
    border-radius: 30px;
    color: white;
    background-color: #F25050;
}

#btn:hover {
    cursor: pointer;
    box-shadow: 0 0.4rem 1.4rem 0 #F29C6B;
}

.footer {
    color: white;
    font-size: medium;
    background-color: #F25050;
    height: 5rem;
    justify-content: center;
    position: fixed;
    padding: 1rem;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: right;
}

@media only screen and (min-width: 768px) {
    body {
        padding: 20px;
    }

    h1 {
        font-size: 2rem;
    }

    ol {
        margin-left: 40px;
        font-size: 1.5rem;
    }
}
        margin-left: 40px;
        font-size: 1.5rem;
    }
}
